[submodule "nanomsg"]
	path = nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "nnpy"]
	path = nnpy
	url = https://github.com/nanomsg/nnpy.git
[submodule "thrift"]
	path = thrift
	url = https://github.com/apache/thrift.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "googlemock-for-protobuf"]
	path = protobuf-deps/googlemock
	url = https://github.com/google/googlemock.git
[submodule "googletest-for-protobuf"]
	path = protobuf-deps/googletest
	url = https://github.com/google/googletest.git
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc.git
[submodule "scapy-vxlan"]
	path = scapy-vxlan
	url = https://github.com/p4lang/scapy-vxlan.git
