[submodule "nanomsg"]
	path = nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "nnpy"]
	path = nnpy
	url = https://github.com/nanomsg/nnpy.git
[submodule "thrift"]
	path = thrift
	url = https://github.com/apache/thrift.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc.git
[submodule "ptf"]
	path = ptf
	url = https://github.com/p4lang/ptf.git
[submodule "ccache"]
	path = ccache
	url = https://github.com/WebHare/ccache.git
[submodule "libyang"]
	path = libyang
	url = https://github.com/CESNET/libyang.git
[submodule "sysrepo"]
	path = sysrepo
	url = https://github.com/sysrepo/sysrepo.git
